.box {
    width: 250px;
    height: 420px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.imgBox {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.116);
    height: 80%;
    margin-bottom: 10px;
    position: relative;
}

.starGrey {
    font-size: 24px;
    color: grey;
    display: inline;
    position: absolute;
    right: 10px;
}

.starYellow {
    font-size: 24px;
    color: yellow;
    display: inline;
    position: absolute;
    right: 10px;
}

.starGrey:hover {
    cursor: pointer;
    color: yellow;
}

.starYellow:hover {
    cursor: pointer;
    color: yellow;
}

.poster {
    width: 100%;
    height: 100%;
}

.scroller {
    animation: anim 3s linear;
    animation-timeline: view();
    animation-range: entry 20% cover 30% ;
}

@keyframes anim {
    from {
        opacity: 0;
        scale: 0.4;
    }to{
        opacity: 1;
        scale: 1;
    }
}


