
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 115px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.links:hover {
    border-bottom: 2px solid #093FB4;
}

.search {
   display: flex;
   column-gap: 10px;
}

.search input {
    border: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    padding: 5px 10px;
    border-radius: 50px;
    outline: none;
}

.search button {
    border: none;
    background-color: #093FB4;
    color: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 50px;
}

.search button:hover {
    cursor: pointer;
}