.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    position: relative;
    z-index: 200;
}

/* NAV LINKS */
.navLinks {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* LINKS */
.links {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.links:hover {
    border-bottom: 2px solid #093FB4;
}

/* SEARCH */
.search {
   display: flex;
   gap: 10px;
}

.search input {
    border: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    padding: 5px 10px;
    border-radius: 50px;
    outline: none;
}

.search button {
    border: none;
    background-color: #093FB4;
    color: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    padding: 8px 12px;
    border-radius: 50px;
    cursor: pointer;
}

/* HAMBURGER */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* 🔥 MOBILE */
@media (max-width: 768px) {

    .hamburger {
        display: block;
    }

    .navLinks {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: white;

        flex-direction: column;
        align-items: center;
        padding: 20px 0;

        gap: 15px;

        display: none;
    }

    .active {
        display: flex;
    }

    .search {
        flex-direction: column;
        width: 80%;
    }

    .search input {
        width: 100%;
    }

    .search button {
        width: 100%;
    }
}